.form-group {
    height: 339px;
}

.rot {
    margin-top: 125px;
}

.rot label {
    float:left;
    margin-right:15px;
    margin-top: 5%;
}

.in-out{
    margin-top: 30px;
}

.glyphicon {
    font-size: 40px;
}

#btnEncode, #btnDecode {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
 }

 #chartContainer {
    height: 300px;
    width:100%;
 }

 div.container.flash{
    margin-top: 2%;
 }
