{% extends "bootstrap/base.html" %}
{% block title %}Caesar cipher{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Caesar cipher</h1>
    </div>
    <div class="row">
        <div class="form-group col-md-5">
            <label>Input:</label>
            <textarea id="in-box" class="form-control" rows="15"></textarea>
        </div>

        <div class="form-group col-md-2" align="center">
            <div class="rot">
                <label for="text">ROT:</label>
                <div class="input-group">
                    <input id="shift" class='form-control' type="number" name="quantity" value="0">
                </div>

                <div class="in-out">
                    <button id="btnDecode" class="glyphicon glyphicon-arrow-left" title="Decode"></button>
                    <button id="btnEncode" class="glyphicon glyphicon-arrow-right" title="Encode"></button>
                </div>
            </div>
        </div>

        <div class="form-group col-md-5">
            <label>Output:</label>
            <textarea id="out-box" class="form-control" rows="15" readonly></textarea>
        </div>
    </div>
    <div id="diagram" class="row">
        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    </div>
    <div class="container flash"></div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{
            url_for('static', filename='js/caesar_cipher.js') }}"></script>
{% endblock %}
